@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
* {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
}
.primary{
  background-color:#F9F6EE;
}
.secondary{
  background-color:#b49ccc;
  color: #F9F6EE;
}
.clabel{
  text-decoration: underline;
  font-style: italic;
  /* font-weight:600 */
}
.footer-extra{
  max-width: 370px;
  margin: 0 auto;
}

