@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
* {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
}
.primary{
  background-color:#F9F6EE;
}
p{
  color:#2e333d;
}
.secondary{
  background-color:#2e333d;
  color: #F9F6EE;
  border-color: #2e333d;
  border-width: 2px;
}
.secondary:hover{
  background-color:#F9F6EE;
  color: #2e333d;
  border-color: #2e333d;
  border-width: 2px;
}
.clabel{
  /* text-decoration: underline; */
  font-style: italic;
  /* font-weight:600 */
}
.footer-extra{
  max-width: 370px;
  margin: 0 auto;
}
.exit{
  width:100%;
  height:auto;
}
.exit:hover{
  width:100%;
  height:auto;
  fill:#2e333d;
}
.circle{
  border-radius:50%;
}